Personelwcf/Personelwcf.WinUI/Connected Services/ServisimPersonel/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Personelwcf.WCF" />
  <xs:element name="Listele">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListeleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Personelwcf.WCF" minOccurs="0" name="ListeleResult" nillable="true" type="q1:ArrayOfPersons" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>